.idea/
/web/node_modules
/web/dist

.DS_Store






/server/log/
/server/resource/upload

*.iml


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/




# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
/web/.dart_tool/
/web/.flutter-plugins
/web/.flutter-plugins-dependencies
/web/.pub-cache/
/web/.pub/
/web/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


